.topics-wrapper {
  padding: 2rem;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;

  .topics-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #222;
  }

  .topics-container {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
