.main-container {
  width: 100%;
  height: calc(100vh - 70px);
  margin: 0 auto;
  margin-top: 70px;
  display: flex;

  .sidebar-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 1rem;
    border-right: 1px solid #ccc;
    overflow: hidden;

    .top {
      flex: 3;
      background-color: #ddd;
    }

    .bottom {
      flex: 2;
      background-color: #bbb;
    }
  }

  .page-content {
    flex: 3;
    background-color: #ffffff;
    padding: 1rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    overflow-y: auto;
    max-height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
  }

  .sidebar-right {
    padding: 0.5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    overflow: hidden;

    .top {
      padding: 0.5rem;
      height: calc(50vh - 35px);
      flex: 1;
      overflow-y: auto;
    }

    .bottom {
      padding: 0.5rem;
      height: calc(50vh - 35px);
      //background-color: #f4f5d5;
      flex: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      .bottom-top {
        height: 80%;
        background-color: #ffffff;
      }
      .bottom-bottom {
        height: 20%;
      }
    }
  }
}
