.main-container {
  display: flex;
  height: calc(100vh);
  width: 100%;
}
.sidebar-left {
  flex: 1;
  background-color: #f0f0f0;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

.main-content {
  flex: 2;
  background-color: #ffffff;
  padding: 1rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.sidebar-right {
  padding: 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  .top {
    padding: 0.5rem;
    height: calc(50vh - 35px);
    flex: 1;
  }
  .bottom {
    padding: 0.5rem;
    height: calc(50vh - 35px);
    background-color: #f4f5d5;
    flex: 1;
  }
}
